@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Mushroom Stock Management</h1>
    <p>Mushroom Farm Data is a secure online platform that stores data on mushroom farmers and their products, allowing registered users to add and manage information while providing non-registered users with access to browse and explore the extensive collection.</p>
</div>
